.error {
    color: #b92c28;
}

#mainBody {
    background-image: url("https://soulafrika.files.wordpress.com/2015/05/city-wallpaper-1080p-5.jpg");
}

.homepage {
    background-image: url("https://soulafrika.files.wordpress.com/2015/05/city-wallpaper-1080p-5.jpg");
}